CLOUD_SDK_AK = 
CLOUD_SDK_SK = 

REGION = cn-south-1
DOMAIN = jinvic.top.
DESCRIPTION = "Auto generated for certbot authentication"

# DEBUG
CERTBOT_DOMAIN = test.jinvic.top.
CERTBOT_VALIDATION = "Auto generated for certbot authentication"

# DEBUG | DEV
MODE = "DEBUG"